extends ../../components/templates/pages
include ../../components/sign-up/sign-up
block main
    main.registration
        .registration__inner-wrapper
            section.registration__sign-up
                +sign-up()
