include ../../components/logo/logo
include ../../components/color-sample/color-sample
include  ../../components/font-sample/font-sample

doctype html
html
    head
        meta(charset="utf-8")
        meta(name='viewport' content='width=device-width, initial-scale=1')
        meta(name='description' content=metaDescription || 'change me' )
        meta(name='keywords' content=metaKeywords || 'change me' )
        link(rel='apple-touch-icon' sizes='180x180' href='favicons/apple-touch-icon.png')
        link(rel='icon' type='image/png' sizes='32x32' href='favicons/favicon-32x32.png')
        link(rel='icon' type='image/png' sizes='16x16' href='favicons/favicon-16x16.png')
        link(rel='manifest' href='favicons/site.webmanifest')
        link(rel='mask-icon' href='favicons/safari-pinned-tab.svg' color='#5bbad5')
        meta(name='msapplication-TileColor' content='#da532c')
        title Официальный сайт отеля Toxin | UI Kit - Colors & Type
    body
        header
            .colors-type
                nav.colors-type__nav
                    +logo
                .colors-type__main
                    .colors-type__colors
                        +color-sample({
                            title: 'Dark Shade 100%',
                            hex: '#1F2041',
                            colorClass: 'colors-type__color-sample_color_dark-100',
                        })
                        +color-sample({
                            title: 'Dark Shade 75%',
                            hex: '#1F2041',
                            colorClass: 'colors-type__color-sample_color_dark-75',
                        })
                        +color-sample({
                            title: 'Dark Shade 50%',
                            hex: '#1F2041',
                            colorClass: 'colors-type__color-sample_color_dark-50',
                        })
                        +color-sample({
                            title: 'Dark Shade 25%',
                            hex: '#1F2041',
                            colorClass: 'colors-type__color-sample_color_dark-25',
                        })
                        +color-sample({
                            title: 'Dark Shade 5%',
                            hex: '#1F2041',
                            colorClass: 'colors-type__color-sample_color_dark-5',
                        })
                        +color-sample({
                            title: 'Purple',
                            hex: '#BC9CFF',
                            colorClass: 'colors-type__color-sample_color_purple',
                        })
                        +color-sample({
                            title: 'Green',
                            hex: '#6FCF97',
                            colorClass: 'colors-type__color-sample_color_green',
                        })
                    .colors-type__fonts
                        +font-sample({
                            name: 'h1',
                            description: 'This one is the sub-section or widget title',
                            fontClass: 'colors-type__font-sample_type_h1',
                        })
                        +font-sample({
                            name: 'h2',
                            description: 'Next one is the item title inside widgets',
                            fontClass: 'colors-type__font-sample_type_h2',
                        })
                        +font-sample({
                            name: 'h3',
                            description: 'This is a label or CTA text',
                            fontClass: 'colors-type__font-sample_type_h3',
                        })
                        +font-sample({
                            name: 'body',
                            description: 'This is the body text which is used for most of the design, like paragraphs, lists, etc.',
                            fontClass: 'colors-type__font-sample_type_body',
                        })
