@import '../../utils/vars.scss';
@import '../../utils/mixins.scss';
@import '../../components/header/header.scss';
@import '../../components/footer/footer.scss';

body {
  background-color: #E5E5E5;
}

.headers-footers {

  &__nav {
    @include ui-kit-navigation(2.375rem)
  }

  &__header,
  &__footer {
    margin-bottom: 2.5rem;
  }

  &__header {
    min-height: 4.375rem;
  }
}