$color-purple: rgb(188, 156, 255);
$color-green: rgb(111, 207, 151);
$color-gray: rgb(229, 229, 229);
$color-primary-5: rgba(31, 32, 65, 0.05);
$color-primary-10: rgba(31, 32, 65, 0.1);
$color-primary-25: rgba(31, 32, 65, 0.25);
$color-primary-50: rgba(31, 32, 65, 0.5);
$color-primary-75: rgba(31, 32, 65, 0.75);
$color-primary-100: rgb(31, 32, 65);